@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --clr-nuetral-200: hsl(0, 0%, 98%);
  --clr-nuetral-300: hsl(0, 0%, 41%);
  --clr-nuetral-800: hsl(0, 0%, 8%);

  --size-200: 0.5rem;
  --size-300: 1rem;
  --size-400: 1.125rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-650: 2.5rem;
  --size-700: 3.5rem;

  --ff-primary: "Epilogue", sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;
}

/* CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin, Remove default padding, Reset all font sizes and make sure button, forms, etc inherit font */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Utilities */

.content-flow {
  display: grid;
  gap: var(--gap);
}

.flex-group {
  display: flex;
  align-items: center;
  gap: var(--gap, var(--size-200));
}

.flex {
  display: flex;
  align-items: center;
  gap: var(--gap, 3rem);
}

.container {
  --max-width: 90rem;
  --padding: var(--size-600);

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.button {
  padding: 0.8rem var(--size-500) 0.65rem var(--size-500);
  border-radius: var(--size-300);
  font-weight: var(--fw-bold);
  width: max-content;
  margin-inline: auto;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

@media (min-width: 781px) {
  .button {
    margin-inline: revert;
  }
}

.button-dark {
  background-color: var(--clr-nuetral-800);
  color: var(--clr-nuetral-200);
}

.button-dark:is(:hover, :focus-visible) {
  background-color: var(--clr-nuetral-200);
  color: var(--clr-nuetral-800);
  outline: 1px solid var(--clr-nuetral-800);
}

.button-light {
  color: var(--clr-nuetral-300);
  border: 1px solid var(--clr-nuetral-800);
  width: 100%;
  font-weight: var(--fw-medium);
  background-color: transparent;
}

.button-light:is(:hover, :focus-visible) {
  color: var(--clr-nuetral-800);
}

.overlay {
  overflow: hidden;
}

.mt-96 {
  margin-top: 6rem;
}

.mb-50 {
  margin-bottom: 3.125rem;
}

/* General Styles */

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-nuetral-200);
  font-size: var(--size-400);
  color: var(--clr-nuetral-300);

  overflow-x: hidden; /* To prevent potential overflow when using translateX for the mobile nav */
}

body.overlay::before {
  content: "";
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
/* Header */

.primary-header {
  justify-content: space-between;
  margin-block: var(--size-300);
}

/* Navs */

.nav-wrapper {
  justify-content: space-between;
}

.nav-left {
  flex: 1;
}

.primary-nav,
.secondary-nav {
  --gap: var(--size-600);

  font-size: 0.9rem;
}

.primary-nav li a,
.secondary-nav li a,
.primary-nav .dropdown__trigger {
  color: var(--clr-nuetral-300);
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.primary-nav li a:is(:hover, :focus-visible),
.secondary-nav li a:is(:hover, :focus-visible),
.primary-nav .dropdown__trigger:is(:hover, :focus-visible) {
  color: var(--clr-nuetral-800);
}

.secondary-nav {
  --gap: var(--size-600);
}

.mobile-nav__nav-links {
  flex-direction: column;
}

@media (min-width: 781px) {
  .primary-nav__nav-links,
  .secondary-nav__nav-links {
    gap: 4rem;
  }
}

.primary-nav__nav-links li,
.secondary-nav__nav-links li,
.mobile-nav__nav-links li {
  cursor: pointer;
}

.primary-nav__nav-links li a,
.secondary-nav__nav-links li a,
.mobile-nav__nav-links li a {
  color: var(--clr-nuetral-300);
}

.primary-nav__nav-links li a:is(:hover, :focus-visible),
.secondary-nav__nav-links li a:is(:hover, :focus-visible),
.mobile-nav__nav-links li a:is(:hover, :focus-visible) {
  color: var(--clr-nuetral-800);
}

.logo {
  margin-top: var(--size-200);
}

.menu-icon {
  fill: var(--clr-nuetral-800);
}

.mobile-menu {
  display: none;
}

.mobile-menu.active {
  display: block;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 780px) {
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    right: var(--size-600);
    z-index: 9999;
    background-image: url("../images/icon-menu.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    aspect-ratio: 1;
    width: 1.5rem;
    border: 0;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../images/icon-close-menu.svg");
  }

  .primary-nav,
  .secondary-nav {
    --gap: var(--size-300);

    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: 5rem var(--size-600);
    align-items: flex-start;
    background-color: var(--clr-nuetral-200);

    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
  }

  .primary-nav[data-visible="true"] {
    transform: translateX(0%);
  }
}

.mobile-menu {
  position: absolute;
  inset: 0 0 0 40%;
  background-color: #fff;
  padding: var(--size-300);
}

.menu-close {
  margin-left: auto;
}

.mobile-menu__link-group {
  --gap: var(--size-300);

  text-align: center;
  margin-top: var(--size-500);
}

/* Remote Section */

@media (min-width: 781px) {
  .remote-section {
    grid-template-columns: 1.5fr 1fr;
    max-width: 65rem;
    margin-inline: auto;
    margin-top: var(--size-700);
  }
}

.remote-section__content {
  text-align: center;
  font-size: var(--size-300);
  order: 1;
}

@media (min-width: 781px) {
  .remote-section__content {
    text-align: left;
    margin-top: 6rem;
    order: 0;
  }
}

.content {
  --gap: var(--size-300);
}

@media (min-width: 781px) {
  .content {
    --gap: var(--size-600);
  }
}

@media (min-width: 781px) {
  .content__text {
    max-width: 45ch;
  }
}

.content__title {
  font-size: 2.2rem;
  font-weight: var(--fw-bold);
  color: var(--clr-nuetral-800);
  margin-top: var(--size-600);
}

@media (min-width: 781px) {
  .content__title {
    font-size: var(--size-700);
    max-width: 11ch;
    line-height: 1;
    margin-top: 0;
  }
}

/* Partners */

.partners {
  --gap: var(--size-300);
  margin-top: var(--size-650);
}

@media (min-width: 781px) {
  .partners {
    --gap: var(--size-650);
  }
}

.partners img {
  width: 4.5rem;
}

/* Hero */

.remote-section__hero {
  background-image: url("images/image-hero-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20rem;
}

@media (min-width: 781px) {
  .remote-section__hero {
    background-image: url("images/image-hero-desktop.png");
    background-size: contain;
  }
}

/* Accordian */

.accordion-content {
  padding: var(--size-300) var(--size-500);
  display: grid;
  grid-template-rows: 0fr;
}

.accordion-content.opened {
  grid-template-rows: 1fr;
}

.accordion-content > ul {
  overflow: hidden;
}

.accordion-trigger {
  background: transparent;
  border: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.accordion-trigger:is(:hover, :focus-visible) {
  color: var(--clr-nuetral-800);
}

.accordion-content__links {
  --gap: var(--size-300);
}

.accordion-content__links li {
  --gap: var(--size-300);
}

.arrow {
  transform: rotate(0);
  transition: all 0.2s ease-in;
}

.arrow.rotate-arrow {
  transform: rotate(180deg);
}

.nav-links__nav-link {
  position: relative;
  --gap: var(--size-200);
}

.dropdown-links {
  display: grid;
  gap: 0.3rem;
  position: absolute;
  top: var(--size-600);
  right: 0;
  padding: var(--size-500);
  background-color: #fff;
  border-radius: var(--size-200);
  font-size: var(--size-300);
}

.dropdown-links img {
  width: 0.7rem;
  margin-right: var(--size-200);
}

.dropdown-links li a {
  color: var(--clr-nuetral-300);
}

.primary-nav__nav-links li a,
.secondary-nav__nav-links li a,
.mobile-nav__nav-links li a,
.accordion-trigger {
  font-size: var(--size-300);
}

.dropdown-panel {
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown__trigger {
  --gap: var(--size-200);

  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.dropdown__sublinks {
  --gap: var(--size-200);

  position: absolute;
  inset: 2.5rem 0 auto auto;
  padding: var(--size-300);
  font-size: 0.9rem;
  align-items: flex-start;
  border-radius: var(--size-200);
  flex-direction: column;
  background-color: #fff;
  -webkit-box-shadow: 1px 6px 15px 0px rgba(161, 161, 161, 1);
  -moz-box-shadow: 1px 6px 15px 0px rgba(161, 161, 161, 1);
  box-shadow: 1px 6px 15px 0px rgba(161, 161, 161, 1);
}

@media (max-width: 780px) {
  .dropdown__sublinks {
    background: transparent;
    position: revert;
    box-shadow: none;
    padding: var(--size-300);
  }
}

.sublinks__link {
  --gap: 1.2rem;
}

.dropdown > div {
  cursor: pointer;
}
